<div class="row" ng-repeat="hero in heroes">
    <div class="col s12 m8">
        <div class="card">
            <div class="card-image">
                <img src="{{ hero.thumbnail.path}}.{{ hero.thumbnail.extension}}" alt=""/>
                <span class="card-title">{{hero.name}}</span>
            </div>
            <div class="card-content">
                {{ hero.description }}
            </div>
            <div class="card-action">
                <a href="#">Voir</a>
            </div>
        </div>
    </div>
</div>